<html>
<head>
    <title>Registro de Envío</title>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>


</head>
<body>
	
	<div id="app">
		Origen: <input type="text" v-model="origin">
		Destino: <input type="text" v-model="destination">
		<iframe width="100%" height="500px" v-bind:src="src()"></iframe>

	</div>
</body>
<script type="text/javascript">
var vue_app = new Vue({
	el: '#app',
	data:{
		origin:'dubai',
		destination:'ajman',
        url:"https://www.google.com/maps/embed/v1/directions?key=AIzaSyB7uYHbgeB8gEPnrEGOlCsxubBDXowPM_w"
	},
	methods:{
		src:function(){
			//return this.url+"&origin="+this.origin+"&destination="+this.destination;
            //prueba
            return "https://maps.googleapis.com/maps/api/directions/json?origin=Disneyland&destination=Universal+Studios+Hollywood&key=AIzaSyB7uYHbgeB8gEPnrEGOlCsxubBDXowPM_w";
		}

	}



});
</script>
</html>