<html>
<head>
    <title>Registro de Envío</title>
    <meta charset="utf-8">
    <!--script type="text/javascript" src="vue.js"></script -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        Origen: <input type="text" v-model="origin">
        Destino: <input type="text" v-model="destination">
        <iframe width="100%" height="500px" v-bind:src="src()"></iframe>

    </div>
</body>
<script type="text/javascript">
    var vue_app = new Vue({
        el: '#app',
        data: {
            origin: 'jesus maria',
            destination: 'cercado de lima',
            url: "https://www.google.com/maps/embed/v1/directions?key=AIzaSyB7uYHbgeB8gEPnrEGOlCsxubBDXowPM_w"
        },
        methods: {
            src: function () {
                return this.url + "&origin=" + this.origin + "&destination=" + this.destination;

            }

        }



    });
</script>
</html>