<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>

</head>
<body>
    <div id="app">
        <div class="container">
            <label for="txtdistrito">Distrito:</label>
            <input type="text" size="15" maxlength="30" value=" " name="txtdistrito"><br />
            <label for="txtdireccion">Dirección:</label>
            <input type="text" size="15" maxlength="30" value=" " name="txtdireccion"><br />
            <label for="txtreferencia">Referencia:</label>
            <input type="text" size="15" maxlength="30" value=" " name="txtreferencia"><br />

            <label for="cmbPaises">Lista de Paises:</label>
            <select id="cmbPaises">
                <option v-for="pais in paises" value="{{pais.country1}}">{{pais.country1}}</option>
            </select>
            <br />
            <label for="cmbModos">Modo de envío:</label>
            <select id="cmbModos">
                <option v-for="modo in modosenvio" value="{{modo.mode1}}">{{modo.mode1}}</option>
            </select>



            <button onclick="mostrar()">Click me</button>

        </div>

    </div>
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script>

        function mostrar() {
            

            var combo = document.getElementById("cmbModos");
            var selected = combo.options[combo.selectedIndex].text;
            alert(selected);
            //return selected;
        }

        new Vue({
            el: '#app1',
            data: {
                //nombre: "Juan",
                //cursoid: 1,
                //nota: [],
                paises: []
            },
            mounted: function () {
                this.fecthPaises();
            },
            methods: {
                fecthPaises: function () {
                    this.$http.get("http://localhost:49898/api/listarpaises").then(function (response) {
                        this.paises = response.body;
                    });
                }

            }
        });



        new Vue({

            el: '#app',
            data: {
                //nombre: "Juan",
                //cursoid: 1,
                //nota: [],
                modosenvio: []
            },
            mounted: function () {
                this.fecthModosEnvio();
            },
            methods: {
                fecthModosEnvio: function () {
                    this.$http.get("http://localhost:49898/api/listarmodoenvio").then(function (response) {
                        this.modosenvio = response.body;
                    });
                }
               
            }
        });




    </script>
</body>
</html>
