<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>

</head>
<body>
    <div id="app">
        <div class="container">
            <label for="txtdistrito">Distrito:</label>
            <input type="text" size="15" maxlength="30" v-model="distrito" name="txtdistrito" id="txtdistrito"><br />
            
            <label for="txtdireccion">Dirección:</label>
            <input type="text" size="15" maxlength="30" v-model="direccion" name="txtdireccion" id="txtdireccion"><br />
            
            <label for="txtreferencia">Referencia:</label>
            <input type="text" size="15" maxlength="30" v-model="referencia" name="txtreferencia" id="txtreferencia"><br />
            
            <button type="button" class="btn btn-primary" @click="obtenerCodigoTienda()">Traer codigo tienda</button><br />
            <label for="txttienda">Tienda:</label>
            <select id="cmbTiendas" v-model="selectedTienda">
                <option v-for="tienda in tiendas" v-bind:value="tienda.storeId">{{tienda.storeId}}</option>
            </select><br />
            
            <label for="cmbPaises">Lista de Paises:</label>
            <select id="cmbPaises" v-model="selectedPais">
                <option v-for="pais in paises" v-bind:value="pais.country1">{{pais.country1}}</option>
            </select><br />
            
            <label for="cmbModos">Modo de envío:</label>
            <select id="cmbModos" v-model="selectedModoEnvio">
                <option v-for="modo in modosenvio" v-bind:value="modo.mode1">{{modo.mode1}}</option>
            </select><br />

            <label for="cmbTipoDocumento">Tipo de Documento:</label>
            <select id="cmbTipoDocumento" v-model="selectedTipoDocumento">
                <option v-for="tipo in tipos" v-bind:value="tipo.documentType1">{{tipo.documentType1}}</option>
            </select><br />

            <button onclick="input_tienda()">Click me</button>

        </div>

    </div>
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script>

        function input_tienda() {
            var input = "obtenerCodigoTienda('";
            input += document.getElementById('txtdistrito').value + "','" + document.getElementById('txtdireccion').value + "','" + document.getElementById('txtreferencia').value;
            input += "')";
            alert(input);
            //return input;
            //prueba
        }

        function mostrar() {
            
            var distrito = document.getElementById("txtdistrito").value;
            
            alert(distrito);

        }


        new Vue({

            el: '#app',
            data: {
                distrito: "",
                direccion: "",
                referencia: "",
                modosenvio: [],
                selectedModoEnvio,
                paises: [],
                selectedPais,
                tiendas: [],
                selectedTienda,
                contactoRecojo: "",
                tipos: [],
                selectedTipoDocumento
            },
            mounted: function () {
                this.fecthModosEnvio();
                this.fecthPaises();
                this.obtenerTiposDocumento();
            },
            methods: {
                fecthModosEnvio: function () {
                    this.$http.get("http://localhost:49898/api/listarmodoenvio").then(function (response) {
                        this.modosenvio = response.body;
                    });
                },
                fecthPaises: function () {
                    this.$http.get("http://localhost:49898/api/listarpaises").then(function (response) {
                        this.paises = response.body;
                    });
                },
                obtenerCodigoTienda: function () {
                    this.$http.get("http://localhost:49898/api/listartiendas?distrito=" + this.distrito + "&direccion=" + this.direccion + "&referencia=" + this.referencia).then(function (response) {
                    this.tiendas = response.body;
                    });
                },
                obtenerTiposDocumento: function () {
                    this.$http.get("http://localhost:49898/api/listartipodocumento").then(function (response) {
                        this.tipos = response.body;
                    });
                }
                
               
            }
        });




    </script>
</body>
</html>
