    <html>
<head>
	<title>Registro de Envío</title>
	<meta charset="utf-8">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
	
<script type="text/javascript">
	
	
    function mostrarTab(tabname) {
        
		$('.nav-tabs a[href="#nav-'+tabname+'"]').tab('show');
	}
	
</script>

</head>

<body>

    <div class="container">
        <p></p>
        <div id="app">

            <nav class="navbar navbar-light bg-light justify-content-between">
                <a class="navbar-brand" href="#">
                    <img src="https://ii.ct-stc.com/3/logos/empresas/2017/12/22/blue-express-E9AF1254F4EFE80B162438593thumbnail.png" width="85" height="30" class="d-inline-block align-top" alt="">&nbsp;&nbsp;&nbsp;
                    Registro de Envío
                </a>
                <form class="form-inline">
                    <span id="txtCorreo" name="txtCorreo">email@example.com</span>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <a href="principal.html">
                        Logout
                    </a>
                </form>
            </nav>


            <div class="row">
                <div class="col-sm">
                    
                        <form class="form-inline">
                            <label for="txtdireccion" class="col-sm-2 col-form-label">Origen:</label>
                            <input type="text" class="form-control mr-sm-2" v-model="origin">
                        </form>
                        <form class="form-inline">
                            <label for="txtdireccion" class="col-sm-2 col-form-label">Destino:</label>
                            <input type="text" class="form-control mr-sm-2" v-model="destination">
                        </form>
                        <iframe width="100%" height="500px" v-bind:src="src()"></iframe>
                    
                </div>

                <div class="col-sm">

                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">

                            <a class="nav-item nav-link" id="nav-origen-tab" data-toggle="tab" href="#nav-origen" role="tab" aria-controls="nav-origen" aria-selected="true">Origen</a>

                            <a class="nav-item nav-link" id="nav-datosrecojo-tab" data-toggle="tab" href="#nav-datosrecojo" role="tab" aria-controls="nav-datosrecojo" aria-selected="false">Datos Recojo</a>

                            <a class="nav-item nav-link" id="nav-paquete-tab" data-toggle="tab" href="#nav-paquete" role="tab" aria-controls="nav-paquete" aria-selected="false">Paquete</a>

                            <a class="nav-item nav-link" id="nav-destino-tab" data-toggle="tab" href="#nav-destino" role="tab" aria-controls="nav-destino" aria-selected="false">Destino</a>

                            <a class="nav-item nav-link" id="nav-datosentrega-tab" data-toggle="tab" href="#nav-datosentrega" role="tab" aria-controls="nav-datosentrega" aria-selected="false">Datos Entrega</a>

                            <a class="nav-item nav-link" id="nav-mediopago-tab" data-toggle="tab" href="#nav-mediopago" role="tab" aria-controls="nav-mediopago" aria-selected="false">Medio Pago</a>

                        </div>
                    </nav>

                    <div class="tab-content" id="nav-tabContent">

                        <div class="tab-pane fade show active" id="nav-origen" role="tabpanel" aria-labelledby="nav-origen-tab">
                            <p></p>

                            <div class="form-group">
                                <label for="txtdistrito">Distrito:</label>
                                <input type="text" class="form-control form-control-sm" size="15" maxlength="30" v-model="distrito" name="txtdistrito" id="txtdistrito">
                            </div>

                            <div class="form-group">
                                <label for="txtdireccion">Dirección:</label>
                                <input type="text" class="form-control form-control-sm" size="15" maxlength="30" v-model="direccion" name="txtdireccion" id="txtdireccion">
                            </div>

                            <div class="form-group">
                                <label for="txtreferencia">Referencia:</label>
                                <input type="text" class="form-control form-control-sm" size="15" maxlength="30" v-model="referencia" name="txtreferencia" id="txtreferencia">
                            </div>

                            <div class="form-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary" @click="obtenerCodigoTienda()">Traer codigo tienda</button>
                                <select id="cmbTiendas" class="form-control form-control-sm" v-model="selectedTienda">
                                    <option v-for="tienda in tiendas" v-bind:value="tienda.storeId">{{tienda.storeId}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="cmbPaises">Lista de Paises:</label>
                                <select id="cmbPaises" class="form-control form-control-sm" v-model="selectedPais">
                                    <option v-for="pais in paises" v-bind:value="pais.country1">{{pais.country1}}</option>
                                </select>
                            </div>

                            <button type="button" class="btn btn-primary" onclick="mostrarTab('datosrecojo')">Siguiente</button>

                        </div>

                        <div class="tab-pane fade" id="nav-datosrecojo" role="tabpanel" aria-labelledby="nav-datosrecojo-tab">

                            <p></p>

                            <div class="form-group">
                                <label for="txtPersonaRecojo">Persona o empresa:</label>
                                <input type="text" class="form-control form-control-sm" size="15" maxlength="30" v-model="personarecojo" name="txtPersonaRecojo" id="txtPersonaRecojo">
                            </div>

                            <div class="form-group">
                                <label for="cmbTipoDocumentoRecojo">Tipo de Documento:</label>
                                <select id="cmbTipoDocumentoRecojo" class="form-control form-control-sm" v-model="selectedTipoDocumentoRecojo">
                                    <option v-for="tipo in tipos" v-bind:value="tipo.documentType1">{{tipo.documentType1}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="txtNroDocumentoRecojo">Nro documento:</label>
                                <input type="text" class="form-control form-control-sm" pattern="[0-9]+" size="15" maxlength="30" v-model="nrodocumentorecojo" name="txtNroDocumentoRecojo" id="txtNroDocumentoRecojo">
                            </div>

                            <div class="form-group">
                                <label for="txtTelefonoRecojo">Teléfono:</label>
                                <input type="text" class="form-control form-control-sm" size="15" maxlength="30" v-model="telefonorecojo" name="txtTelefonoRecojo" id="txtTelefonoRecojo">
                            </div>


                            <button type="button" class="btn btn-primary" onclick="mostrarTab('paquete')">Siguiente</button>

                        </div>

                        <div class="tab-pane fade" id="nav-paquete" role="tabpanel" aria-labelledby="nav-paquete-tab">

                            <p></p>

                            <div class="form-group">
                                <label for="txtDesPaquete">Descripción:</label>
                                <input type="text" class="form-control form-control-sm" size="15" maxlength="30" v-model="despaquete" name="txtDesPaquete" id="txtDesPaquete">
                            </div>

                            <div class="form-group">
                                <label for="cmbTamanio">Tamaño del paquete:</label>
                                <select id="cmbTamanio" class="form-control form-control-sm" v-model="selectedTamanio">
                                    <option v-for="tamanio in tamanios" v-bind:value="tamanio.size">{{tamanio.size}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="cmbMoneda">Moneda:</label>
                                <select id="cmbMoneda" class="form-control form-control-sm" v-model="selectedMoneda">
                                    <option v-for="moneda in monedas" v-bind:value="moneda.mode1">{{moneda.mode1}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="txtCosto">Costo:</label>
                                <input type="text" class="form-control form-control-sm" size="15" maxlength="30" v-model="costo" name="txtCosto" id="txtCosto">
                            </div>

                            <button type="button" class="btn btn-primary" onclick="mostrarTab('destino')">Siguiente</button>

                        </div>

                        <div class="tab-pane fade" id="nav-destino" role="tabpanel" aria-labelledby="nav-destino-tab">

                            <p></p>

                            <div class="form-group">
                                <label for="txtDistritoCliente">Distrito:</label>
                                <input type="text" class="form-control form-control-sm" size="15" maxlength="30" v-model="distritocliente" name="txtDistritoCliente" id="txtDistritoCliente">
                            </div>

                            <div class="form-group">
                                <label for="txtDireccionCliente">Dirección:</label>
                                <input type="text" class="form-control form-control-sm" size="15" maxlength="30" v-model="direccioncliente" name="txtDireccionCliente" id="txtDireccionCliente">
                            </div>

                            <div class="form-group">
                                <label for="txtReferenciaCliente">Referencia:</label>
                                <input type="text" class="form-control form-control-sm" size="15" maxlength="30" v-model="referenciacliente" name="txtReferenciaCliente" id="txtReferenciaCliente">
                            </div>

                            <div class="form-group">
                                <label for="txtGeoposicion">Geoposición:</label>
                                <div id="txtGeoposicion" class="row">
                                    <div class="col-sm">
                                        <input type="text" class="form-control form-control-sm" size="15" maxlength="30" v-model="latitud" name="txtGeoposicion" id="txtLatitud">
                                    </div>
                                    <div class="col-sm">
                                        <input type="text" class="form-control form-control-sm" size="15" maxlength="30" v-model="longitud" name="txtGeoposicion" id="txtLongitud">
                                    </div>
                                </div>
                            </div>


                            <button type="button" class="btn btn-primary" onclick="mostrarTab('datosentrega')">Siguiente</button>

                        </div>

                        <div class="tab-pane fade" id="nav-datosentrega" role="tabpanel" aria-labelledby="nav-datosentrega-tab">

                            <p></p>

                            <div class="form-group">
                                <label for="txtPersonaEntrega">Persona o empresa:</label>
                                <input type="text" class="form-control form-control-sm" size="15" maxlength="30" v-model="personaentrega" name="txtPersonaEntrega" id="txtPersonaEntrega">
                            </div>

                            <div class="form-group">
                                <label for="cmbTipoDocumentoEntrega">Tipo de Documento:</label>
                                <select id="cmbTipoDocumentoEntrega" class="form-control form-control-sm" v-model="selectedTipoDocumentoEntrega">
                                    <option v-for="tipo in tipos" v-bind:value="tipo.documentType1">{{tipo.documentType1}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="txtNroDocumentoEntrega">Nro documento:</label>
                                <input type="text" class="form-control form-control-sm" pattern="[0-9]" size="15" maxlength="30" v-model="nrodocumentoentrega" name="txtNroDocumentoEntrega" id="txtNroDocumentoEntrega">
                            </div>

                            <div class="form-group">
                                <label for="txtTelefonoEntrega">Teléfono:</label>
                                <input type="text" class="form-control form-control-sm" size="15" maxlength="30" v-model="telefonoentrega" name="txtTelefonoEntrega" id="txtTelefonoEntrega">
                            </div>


                            <button type="button" class="btn btn-primary" onclick="mostrarTab('mediopago')">Siguiente</button>

                        </div>

                        <div class="tab-pane fade" id="nav-mediopago" role="tabpanel" aria-labelledby="nav-mediopago-tab">
                            <p></p>

                            <div class="form-group">
                                <label for="cmbModos">Modo de envío:</label>
                                <select id="cmbModos" class="form-control form-control-sm" v-model="selectedModo">
                                    <option v-for="mod in modosenvio" v-bind:value="mod.mode1">{{mod.mode1}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="txtCostoTotal">Costo Total:</label>
                                <input type="text" class="form-control form-control-sm" size="15" maxlength="30" v-model="costototal" name="txtCostoTotal" id="txtCostoTotal">
                            </div>

                            <div class="form-group">
                                <label for="cmbMedioPago">Medio de Pago:</label>
                                <select id="cmbMedioPago" class="form-control form-control-sm" v-model="selectedMedioPago">
                                    <option v-for="medio in mediospago" v-bind:value="medio.paymentMethod1">{{medio.paymentMethod1}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="cmbComprobantePago">Comprobante de Pago:</label>
                                <select id="cmbComprobantePago" class="form-control form-control-sm" v-model="selectedComprobantePago">
                                    <option v-for="comprobante in comprobantes" v-bind:value="comprobante.proofPayment1">{{comprobante.proofPayment1}}</option>
                                </select>
                            </div>

                            <button type="button" class="btn btn-danger" onclick="alert('llamar a la API de Registro')">Enviar</button>

                        </div>
                                                
                    </div>

                </div>

            </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
        <script>

            function input_tienda() {
                var input = "obtenerCodigoTienda('";
                input += document.getElementById('txtdistrito').value + "','" + document.getElementById('txtdireccion').value + "','" + document.getElementById('txtreferencia').value;
                input += "')";
                alert(input);
                //return input;
                //prueba
            }

            function mostrar() {

                var distrito = document.getElementById("txtdistrito").value;
                alert(distrito);

            }


            new Vue({

                el: '#app',
                data: {
                    distrito: "",
                    direccion: "",
                    referencia: "",
                    modosenvio: [],
                    selectedModo: "",
                    paises: [],
                    selectedPais: "",
                    tiendas: [],
                    selectedTienda: "",
                    contactoRecojo: "",
                    tipos: [],
                    selectedTipoDocumento: "",
                    origin: 'jesus maria',
                    destination: 'cercado de lima',
                    url: "https://www.google.com/maps/embed/v1/directions?key=AIzaSyB7uYHbgeB8gEPnrEGOlCsxubBDXowPM_w"
                },
                mounted: function () {
                    this.fecthModosEnvio();
                    this.fecthPaises();
                    this.obtenerTiposDocumento();
                },
                methods: {
                    src: function () {
                        return this.url + "&origin=" + this.origin + "&destination=" + this.destination;
                    },
                    fecthModosEnvio: function () {
                        this.$http.get("http://localhost:49898/api/listarmodoenvio").then(function (response) {
                            this.modosenvio = response.body;
                        });
                    },
                    fecthPaises: function () {
                        this.$http.get("http://localhost:49898/api/listarpaises").then(function (response) {
                            this.paises = response.body;
                        });
                    },
                    obtenerCodigoTienda: function () {
                        this.$http.get("http://localhost:49898/api/listartiendas?distrito=" + this.distrito + "&direccion=" + this.direccion + "&referencia=" + this.referencia).then(function (response) {
                            this.tiendas = response.body;
                        });
                    },
                    obtenerTiposDocumento: function () {
                        this.$http.get("http://localhost:49898/api/listartipodocumento").then(function (response) {
                            this.tipos = response.body;
                        });
                    }


                }
            });




        </script>


                      
                   



</body>

</html>
