<html>
<head>
    <title>Reporte de Envío</title>
    <meta charset="utf-8">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>

    <script type="text/javascript">

        var queryString = new Array();

        window.onload = function () {
            if (queryString.length == 0) {
                if (window.location.search.split('?').length > 1) {
                    var params = window.location.search.split('?')[1].split('&');
                    for (var i = 0; i < params.length; i++) {
                        var key = params[i].split('=')[0];
                        var value = decodeURIComponent(params[i].split('=')[1]);
                        queryString[key] = value;
                    }
                }
            }
            if (queryString["correo"] != null) {
                var data = queryString["correo"];
                document.getElementById("txtCorreo").innerHTML = data;
            }
        };

        function mostrarTab(tabname) {

            $('.nav-tabs a[href="#nav-' + tabname + '"]').tab('show');
        }

    </script>

    <script>

        new Vue({
            el: '...',
            data: {
                selectedModo: ''
            }
        })

    </script>


</head>
<body>
    <div id="app">


        <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand" href="#">
                <img src="https://ii.ct-stc.com/3/logos/empresas/2017/12/22/blue-express-E9AF1254F4EFE80B162438593thumbnail.png" width="85" height="30" class="d-inline-block align-top" alt="">&nbsp;&nbsp;&nbsp;
                Reporte de Envío
            </a>
            <form class="form-inline">
                <span id="txtCorreo" name="txtCorreo">email@example.com</span>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <a href="principal.html">
                    Logout
                </a>
            </form>
        </nav>



        <div class="container">


            <div class="form-group">
                <label for="deliverycode">Codigo de Delivery:</label>
                <input type="text" class="form-control form-control-sm" placeholder="Introduzca el DeliveryTrackcode" size="15" maxlength="30" v-model="distrito" name="txtdistrito" id="txtdistrito" required>
            </div>

            <div class="form-group">
                <label for="txtdireccion">Tienda:</label>
                <select id="cmbTiendas" class="form-control form-control-sm" v-model="selectedTienda">
                    <option v-for="tienda in tiendas" v-bind:value="tienda.storeId">{{tienda.reference}}</option>
                </select>
            </div>


            <div class="form-group">

                <button type="button" class="btn btn-sm btn-outline-secondary" @click="obtenerEntregas()">Reporte Delivery</button>

                <button type="button" class="btn btn-sm btn-outline-secondary" @click="ValidarTienda()">Reporte por tienda</button>


            </div>

            <div v-for="entrega in entregas">

                <div>
                    <span class="form-control form-control-sm">{{entrega.deliveryTrackCode}}</span>
                    <span class="form-control form-control-sm">{{entrega.storeId}}</span>

                </div>
                
            </div>





        </div>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

    <script>

        new Vue({

            el: '#app',
            data: {

                tiendas: [],
                selectedTienda: "",
                entregas: []

            },
            mounted: function () {

                this.obtenerTiendas();

            },
            methods: {

                obtenerTiendas: function () {

                    this.$http.get("http://localhost:49898/api/tiendas").then(function (response) {
                        this.tiendas = response.body;
                    });
                },

                obtenerEntregas: function () {

                    this.$http.get("http://localhost:49898/api/api/entregasportienda?tienda=" + selectedTienda).then(function (response) {
                        this.entregas = response.body;
                    });
                }

                
            }
        });




    </script>

</body>
</html>